@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.asset-item {
  border-radius: 1vw;
  border: 1px solid rgb(231, 231, 231);
}

.asset-image {
  
  position: relative;
  width: 100%;
}

.asset-image:before {
  float: left;
  padding-top: 100%;
}

div img {
  object-fit: cover;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  float: left;
  width: 100%;
  height: 24.33vw;
}

.asset-info {
  clear: both;
}

.asset-title {
  font-size: $small-font-size;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: left;
  padding-left: 1vw;
  padding-top: .1vw;
}
