@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

// .button {
//   border-radius: 1rem;
//   font-size: 1.5rem;
//   // height: 2.5rem;
//   line-height: 1.2rem;
//   border-width: 2px;
//   border-style: solid;
// }

.button--buy {
  color: $white;
  border-color: $black;
  background-color: rgb(36, 36, 36);
  border-radius: 4rem;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 100%;
  line-height: 1.2rem;
  border-width: 2px;
  border-style: solid;
  margin-top: 1vw;
  margin-bottom: 0;
}

.button--buy:hover {
  color: $black;
  border-radius: 4rem;
  border:rgb(36, 36, 36);
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
}

.button--login {
  color: $white;
  border-color: $black;
  background-color: rgb(36, 36, 36);
  border-radius: 4rem;
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 1.2rem;
  border-width: 2px;
  border-style: solid;
  margin-top: 1vw;
  margin-bottom: 0;
  &:hover {
    color: $black;
    border-radius: 4rem;
    border:rgb(36, 36, 36);
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
  }
  &:active {
    color: $black;
    border-radius: 4rem;
    border:rgb(36, 36, 36);
    border-width: 4px;
    border-style: solid;
    background-color: transparent;
  }
}

// .button--login:active {
  
// }

.button--danger {
  color: $danger-color;
  border-color: $danger-color;
  background-color: transparent;
}

.button--confirm {
  color: $confirm-color;
  border-color: $confirm-color;
  background-color: transparent;
  border-radius: 4rem;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 300px;
  line-height: 1.2rem;
  border-width: 2px;
  border-style: solid;
  margin-top: 1vw;
  margin-bottom: 0;
  &:hover {
    color: $white;
    background-color: $confirm-color;
  }
  
}

.button--danger:hover {
  color: $white;
  background-color: $danger-color;
}

// .button:last-of-type {
//   margin-right: 0;
// }

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
  opacity: 0.7;
}

.adet-buy-button-container {
  width: 100%;
}

.adet-buy-button {
  box-sizing: border-box;
  width: 100%;
}

.adet-buy-button .button {
   border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-right: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
}