// FONT SIZE
$default-font-size: .75rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$submid-font-size: 2rem;
$small-font-size: 1.1rem;

// COLORS
$white: rgb(255, 255, 255);
$black: black;
$confirm-color: black;
$danger-color: red;
$bg-color1: rgb(255, 255, 255);
// $dark-color: rgb(99, 126, 141);
// $dark-color2: rgb(63, 87, 100);
// $accent-text: #a6e3ff; 
// $accent-color: #a6e3ff; 
// $title-text:  rgb(243, 250, 255); 


//OTHER
$notch-size: 20px;

