@import './variables';
@import './typography';

@import './components/AssetItem';
@import './components/HomeAssetsList';
@import './components/AssetDetail';

.App{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}